<section data-ng-controller="HomeController">
    <div class="container-fluid">
        <div class="jumbotron text-center banner">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                    <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/dice.png" />
                </div>
            </div>
            <br>

        </div>

        <div class="custom-border"></div>

        <div class="row bgcolor-matt">
            <ul class="nav nav-tabs">
                <li class="bgcolor col-md-offset-1">
                    <a>
                        <img src="img/dice_icon.PNG">
                    </a>
                </li>
                <li class="text-center width-adjustment col-md-offset-3">
                	<h3 class="text-style">Beat the Best</h3>
                    <!-- <a class="btn btn-info btn-sm" href="#!/signup" target="_blank">Sign Up Now</a> -->
                    <p><img src="img/Coins-icon.PNG"></p>
                    <p>Get <b>300</b> points on <a class="btn btn-info btn-sm" href="#!/signup">Sign up </a></p>
                </li>
            </ul>
        </div>
        <div class="row bgcolor" id="d">
            <h3 class="heading text-center text-style">Rolling Stone</h3>
            <p class="col-md-5 col-sm-offset-3 text-center text-style"><b>
            	Rolling Stone is a virtual Dice Game that is played between two users
            	you select a user to challenge and place a bet with him. Each user rolls dice and the highest number wins.
            	A user can tweak dice number: Tweaking dice number would either increase or decrease the output depending on the output of the initial dice number. Wonna play? Search Users now &nbsp;<a class="btn btn-info btn-sm" href="#!/users">Users</a>
            	</b>
            </p>
        </div>
        <div class="text-center text-color text-style">
            <br>
        </div>
    </div>
</section>
