<section data-ng-controller="HomeController">
    <div class="container-fluid">
        <div class="jumbotron text-center banner">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                    <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/dice.png" />
                </div>
            </div>
            <br>

        </div>

        <div class="custom-border"></div>

        <div class="row bgcolor-matt">
            <ul class="nav nav-tabs">
                <li class="bgcolor col-md-offset-1">
                    <a>
                        <img src="img/dice_icon.PNG">
                    </a>
                </li>
                <li class="text-center width-adjustment col-md-offset-3">
                	<!-- <h3 class="text-style">Beat the Best</h3> -->
                    <p>Wonna Play Rolling Stone?</p>
                    <p><a class="btn btn-info btn-sm" href="#!/signup" target="_blank">Sign Up Now</a></p>
                    <p><img src="img/Coins-icon.PNG"></p>
                    <p>Get <b>300</b> points on Sign up </p>
                </li>
            </ul>
        </div>
        <div class="row bgcolor">
            
            <div class="col-md-4 col-sm-offset-2 text-center text-justify"><b>
                <h3 class="heading text-center">Rolling Stone</h3>
            	Rolling Stone is a virtual Dice Game that is played between two users
            	you select a user to challenge and place a bet with him/her. Users are ranked based on the number of points they've earned over time. so be sure to contend with the best.
            </div>

            <div class="col-md-4 col-sm-offset-1 text-center text-justify">
                <h3 class="heading text-center">How to Play Rolling Stone</h3>
                After a you've posted a challenge and the challenge is accepted by the contender
                Each user rolls the dice and the user with highest number wins.
            	<h4 class="heading text-center">Tweaking the Generated Number</h4>
                A user can <b class="text-color-matt">Tweak</b> dice number: Tweaking the dice while your number is being generated would either increase or decrease your output depending on the output of the initial dice number. Search Users now &nbsp;<a href="#!/users">Users</a>
            	</b>
                <br>
                <br>
            </div>
        </div>
        <div class="text-center text-color">
            <br>&copy; Gambit 2014
        </div>
    </div>
</section>
